body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f3f6f9;
    margin: 0;
}

section{
    max-width: 500px;
    margin: 60px auto;
    background: white;
    padding: 24px;
    border-radius: 6px;
}

h1 {
    color: #04aa6d;
}

button {
    background:#04aa6d;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
}